body {
	font-family: 'Eczar';
}

.vertical-center {
	background-image: url(../images/happy-birthday.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.contents {
	max-width: 700px;
	margin-left: 22rem;
}

.note {
	height: 200px;
	/*border: 1px solid black;*/
	margin: 0;
}

.message {
	height: 200px;
	width: 300px;
}